.card--quote {
    @apply bg-blue-300;
    background-image: url('../assets/svg/wiggle.svg');
    .card-content {
        @apply text-white text-lg italic;
        a {
            @apply text-white underline normal-case text-base;
        }
        blockquote {
            border: none;
            padding: 0;
        }
    }
}