.card {
    border-width: 1px;
    border-style: solid;
    @apply bg-white rounded-sm border-gray-400 shadow-md break-words;
    transition: 0.2s all ease-in-out;
    
    &:hover {
        @apply shadow-lg;
    }

    .card-thumbnail {
        position: relative;
    }

    .card-audio {
        @apply bg-blue-300 p-4;
    }

    .card-header,
    .card-content {
        @apply p-5;
        padding-bottom: 0;
        transition: 0.2s all ease-in-out;
    }

    .card-title {
        @apply leading-tight text-xl font-semibold text-gray-800;
    }

    .card-meta {
        @apply italic text-sm text-gray-700 m-0;
    }

    .card-content {
        @apply text-sm text-gray-700;

        .read-more {
            @apply block mt-2 text-base;
        }
    }

    > a {
        &:hover,
        &:focus {
            @apply shadow-lg text-gray-800;

            .card-header,
            .card-content {
                @apply text-gray-900;
            }
        }
    }
}

/**
 * @todo move to separate file and rename to gallery.
 */
.card--gallery-tiles {
    @apply list-none m-0 flex absolute bottom-0 bg-white p-1;
    li {
        @apply mr-1 opacity-50;
        width: 30px;

        &.active,
        &:hover {
            @apply opacity-100;
        }

        &:last-of-type {
            @apply mr-0;
        }

        img {
            height: auto;
        }
    }
}