<div class='px-2 w-full sm:w-1/2 lg:w-1/3 xl:w-1/4'>
    <article id="post-{{ post.id }}" class="{{ post.class }}">
        {% block content %}
            <header class="entry-header">
                <a href="{{ post.link }}">
                    <h2 class="entry-title">{{post.title}}</h2>
                </a>
            </header>
        {% endblock %}
    </article>
</div>