.site-header {
    border-top-width: 4px;
    border-top-color: theme('colors.blue.500');
    border-bottom-width: 1px;
    border-bottom-color: theme('colors.gray.300');
    @apply py-12 flex flex-row justify-between items-center border-solid;

    .site-title {
        font-size: theme('fontSize.2xl');
        font-weight: theme('fontWeight.bold');
        text-transform: uppercase;
        @apply tracking-wide leading-tight mb-0;

        a {
            @apply text-gray-800;
        }
    }

    .site-description {
        @apply m-0;
        font-family: theme('fontFamily.serif');
        font-style: italic;
        font-size: theme('fontSize.sm');
        color: theme('colors.blue.500')
    }
}
