.menu-toggle {
  background: url('../assets/svg/zondicons/menu.svg') center center no-repeat;
  width: 30px;
  height: 30px;
  outline: none;
  @apply cursor-pointer opacity-50;
  transition: 0.3s opacity ease-in-out;

  &:hover,
  &:focus {
    outline: none;
    @apply opacity-100;
  }
}

.main-navigation {
  .menu {
    @apply hidden;
  }

  &.toggled {
    @apply bg-blue-600 fixed z-50 left-0 top-0 bottom-0 h-full w-full overflow-y-scroll;

    .menu {
      @apply flex justify-center my-12 mx-auto;
      max-width: 16rem;
      ul {
        @apply block list-none;
      }
      > ul {
        @apply m-0;
      }
    }

    .menu-toggle {
      position: sticky;
      float: right;
      background-image: url('../assets/svg/zondicons/close-white.svg');
      top: 20px;
      right: 16px;
    }

    .nav-menu {
      > li {
        @apply pb-2;
        border-width: 0 0 1px 0;
      }
      li {
        @apply text-lg my-2 border-solid;
        border-color: rgba(255, 255, 255, 0.1);
        a {
          @apply text-white opacity-75 block;

          &:hover,
          &:focus {
            @apply opacity-100;
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

@screen md {
  .menu-toggle {
    @apply hidden;
  }
  .main-navigation {
    @apply w-3/4;
    .menu {
      @apply block;

      ul {
        @apply list-none m-0 flex flex-wrap justify-end;

        > li {
          a {
            @apply bg-blue-300 text-white block px-2 py-1 ml-2 mb-2;
            transition: all 0.2s ease-in-out;

            &:hover {
              @apply bg-blue-500;
            }
          }

          &:hover {
            .children {
              display: block;
            }
          }
        }
      }

      .children {
        @apply hidden;
      }
    }
  }
}

@screen lg {
  .main-navigation {
    .menu {
      ul {
        > li {
          a {
            @apply px-3 ml-4;
          }
        }
      }
    }
  }
}