.sticky {
  display: block; }

.post,
.page {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/**
 * Archives
 */
.blog {
  .content-area {
    .post.format-aside {
      @apply bg-orange-400;
      background-image: url('../assets/svg/rain.svg');
      .card-content {
          @apply text-white text-lg italic;
          a {
              @apply text-white underline normal-case text-base;
          }
      }
    }
  }
}