// System font stacks taken from https://css-tricks.com/snippets/css/font-stacks/

// Helvetica/Arial-based sans serif stack
$font__primary: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
// Modern Georgia-based serif stack
$font__secondary: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
// Monospace stack
$font__code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

$font__main: $font__primary;
$font__pre: $font__code;
$font__line-height-body: $golden-ratio;
$font__line-height-pre: $golden-ratio;
