{% extends "base.twig" %}

{% block content %}
    {% if posts %}
        <div class="flex flex-wrap -mx-2">
            {% for post in posts %}
                {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}